::-webkit-scrollbar {
  display: none;
}

button {
  border: 1px solid rgba(85, 85, 199, 0.6);

  background-color: lightcyan;

  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  font-size: 80%;
  color: rgb(19, 41, 114)
}

button:hover {
  box-shadow: 0 0 5px rgba(85, 85, 199, 0.8);
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: lightblue
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-flow: column wrap;
  position: relative;

  align-content: center;

  align-items: center;
  text-align: center;

  margin-bottom: 0;
  padding-bottom: 2%;

  font-family: 'Kanit', sans-serif;
  color: lightcyan;

  background: rgb(121 137 211);
}

.profile_box {
  display:block;

  height: 80px;
  margin-bottom: 2%;

  border-bottom: 10px solid rgb(121 137 211);
  border-left: 80px solid rgb(121 137 211);

  background-color: lightcyan;
}

.welcome_message {
  display: flex;
  flex-flow: column wrap;

  width: 79%;
  height: 30%;

  justify-content: center;
  font-family: 'Chivo', sans-serif;
  text-align: center;
  font-size: 100%;
  font-weight: bold;

  background-color: lightcyan;
  color: rgb(19, 41, 114);
}

.login_form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  float:right;

  padding-right: 31%;

  height: 100%;
  width: 10%;
}

.display_logged_in_out_user {
  display: flex;
  flex-flow: column;
  float: right;
  align-items: center;
  
  height: 100%;
  width: 15em;

  background-color: rgb(121 137 211);
}

.display_logged_in_out_user button {
  width: 80%;
  height: 50%;
}

.login_input {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.create_user_account {
  border-top: 4px solid rgb(121 137 211);
}

.search_and_question_nav {
  display: flex;
  flex-flow: initial;

  justify-content: space-around;

  padding-top: 5px;
}

.searchbar {
  text-align: center;
  font-size: 80%;

  width: 65%
}

.question_button {
  height: 40px;
  width: 25%;

  font-size: 80%;
}

.question_form_modal {
  display: flex;
  flex-flow: initial;
  float: right;

  justify-content: space-around;

  padding-top: 10px;
  padding-bottom: 10px;

  margin-right: 1.8%;

  width: 74.2%;

  background-color: rgb(121 137 211);
}

.expert_fields_header {
  display: flex;
  flex-flow: column wrap;
  position: relative;

  align-content: center;

  align-items: center;
  text-align: center;
  
  width: 100%;

  background: rgb(121 137 211);
  color: lightcyan;
}

.expert_fields {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  float: left;

  overflow-x: hidden;

  height: 60%;
  width: 20%;

  align-content: center;
  justify-content: space-between;

  align-items: center;
  text-align: center;

  margin-top: 5px;
  margin-left: 2%;

  border: 1px solid rgba(85, 85, 199, 0.6);
  border-radius: 2%;

  background-color: lightcyan;

  box-shadow: 1px 2px 5px 1px rgba(85, 85, 199, 0.4);
}

.field_li {
  display: flex;
  flex-flow: column wrap;
  padding-top: 2px;
  padding-bottom: 2px;
  
  text-align: center;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 100%;
}

.inner_field_li {
  display: flex;
  flex-flow: column wrap;
  
  text-align: center;
  align-items: center;
  justify-content: center;

  font-family: 'Chivo', sans-serif;
  font-size: 100%;
  font-weight: bold;
  color: rgb(19, 41, 114)
}

.field_li:hover {
  background-color: lightblue;

  border-left: 10px solid rgba(72, 72, 165, 0.8);

  box-shadow: 0 0 4px rgba(85, 85, 199, 0.4);
}

.questions_container {
  display: flex;
  flex-flow: column wrap;
  float: right;
  position: relative;

  width: 74.1%;

  align-content: center;
  justify-content: center;

  align-items: center;
  text-align: center;

  margin-right: 1.8%;

  padding-top: 3%;
  padding-bottom: 3%;

  border: 1px solid rgba(85, 85, 199, 0.6);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  background-color: lightcyan;

  box-shadow: 1px 2px 5px 1px rgba(85, 85, 199, 0.4);
}

.question_box {
  display: flex;
  flex-flow: column wrap;
  float: right;
  position: relative;

  height: 30%;
  width: 50%;

  align-content: center;
  justify-content: center;

  align-items: center;
  text-align: center;
  
  overflow-wrap: break-word;

  border-radius: 8px;

  margin-bottom: 20px;

  padding-top: 2%;

  border: 1px solid rgba(85, 85, 199, 0.6);

  background-color: rgb(255, 255, 255);

  box-shadow: 1px 2px 5px 1px rgba(85, 85, 199, 0.4);
  overflow-x: hidden;
}

.question_bottom {
  display: flex;

  height: 50px;
  width: 100%;

  align-content: center;
  justify-content: space-evenly;

  align-items: center;
  text-align: end;

  background-color: lightblue;

  font-family: 'Chivo', sans-serif;
  font-size: 80%;
  
  color: rgb(19, 41, 114);

  margin-top: 2%;
  
}

.answer_form_modal {
  display: flex;
  flex-flow: row wrap;
  float: left;
  position: relative;

  align-content: center;
  justify-content: center;

  align-items: center;
  text-align: center;
}

.div_with_scroll {
  border-right: 1px solid lightcyan;
  height: 80%;
  width: 70%;
  overflow:scroll;
  overflow-x:hidden;
  font-size: 80%;
  padding: 4px;
}

.answer_name {
  font-weight: bold;
}

.answer {
  border: 1px solid rgb(19, 41, 114);
  margin-bottom: 4px;
  padding: 1px
}