::-webkit-scrollbar {
  display: none;
}

button {
  border: 1px solid rgba(85, 85, 199, 0.6);

  background-color: lightcyan;

  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  color: rgb(19, 41, 114)
}

button:hover {
  box-shadow: 1px 2px 5px 2px rgba(85, 85, 199, 0.4);
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: lightblue
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-flow: column wrap;
  position: relative;

  align-content: center;

  align-items: center;
  text-align: center;

  margin-bottom: 2%;

  font-family: 'Kanit', sans-serif;
  color: lightcyan;

  background: rgba(85, 85, 199, 0.6);

  box-shadow: 0 2px 4px 2px rgba(85, 85, 199, 0.8);
}

.profile_box {
  display: flex;
  flex-flow: wrap column;

  margin-bottom: 5px;

  height: 30px;
  width: 100%
}

.displayLoggedInOutUser {
  float: right;

  height: 30px;
  width: 140px
}

.search_and_question_nav {
  display: flex;
  flex-flow: initial;

  justify-content: space-around;

  padding-top: 5px;
}

.searchbar {
  width: 65%
}

.question_button {
  height: 30px;
  width: 20%;
}

.expert_fields_header {
  display: flex;
  flex-flow: column wrap;
  position: relative;

  align-content: center;

  align-items: center;
  text-align: center;
  
  width: 100%;

  background: rgba(85, 85, 199, 0.6);
  color: lightcyan;
}

.expert_fields {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  float: left;

  overflow-x: hidden;

  height: 60%;
  width: 20%;

  align-content: center;
  justify-content: space-between;

  align-items: center;
  text-align: center;

  margin-top: 5px;
  margin-left: 2%;

  border: 1px solid rgba(85, 85, 199, 0.6);
  border-radius: 2%;

  background-color: lightcyan;

  box-shadow: 1px 2px 5px 1px rgba(85, 85, 199, 0.4);
}

.field_li {
  display: flex;
  flex-flow: column wrap;
  
  text-align: center;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 100%;
}

.inner_field_li {
  display: flex;
  flex-flow: column wrap;
  
  text-align: center;
  align-items: center;
  justify-content: center;

  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: rgb(19, 41, 114)
}

.field_li:hover {
  background-color: lightblue;

  border-left: 10px solid rgba(72, 72, 165, 0.8);

  box-shadow: 0 0 4px rgba(85, 85, 199, 0.4);
}


